.cards__header {
  align-items: center;
}

.card .price {
  text-decoration: line-through;
}
.final-price {
  color: $price-color;
}

.card {
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #4174cb60;
    transition: 1s;
  }
}
.row-cols-md-4 {
  & img {
    max-height: 150px;
    object-fit: cover;
    margin-top: 2px;
  }
}
.row-cols-md-1 {
  & img {
    max-height: 150px;
    object-fit: contain;
    margin-top: 2px;
  }
  .card {
    display: flex;
    flex-direction: row;
    min-height: 10px;
  }
  .add {
    width: auto;
  }
}


.card-text {
  margin: 0;

}
.text-end {
  margin: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.add:hover {
  background-color: $active-color;
}