.footer {
  background-color: $accent-color;
  margin-top: 10px;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $footer-font-color;
  padding: 10px 2%;
}