header {
  padding: 20px 1px;
}


header .cart__items {
  background-color: $active-color;
  border-radius: 50%;
  padding: 1px 7px;
  color: white;
  z-index: 1;
  position: relative;
  &::before {
    content: '';
    height: 40px;
    width: 40px;
    background-image: url(../src/icons/Buy.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    right: 20px;
    cursor: pointer;
  }
}