.input-group-append img {
  max-height: 40px;
}

.modal-body {
  input:valid {
    border: 2px solid rgb(17, 199, 142);
  }

  input:invalid {
    border: 2px solid rgb(227, 7, 95);
  }

  .invalid-message {
    color: rgb(227, 7, 95);
  }
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
  z-index: 100000000;
}


.tooltip {
  z-index: 100000000;
}

.alert {
  padding: 20px;
  background-color: rgb(17, 199, 142);
  color: white;
  margin-bottom: 15px;
}