@import '__colors';
@import '__logo&font';
@import '__header';
@import '__cards';
@import '__footer';

a {
  text-decoration: none;
  color: currentColor;
}
.btn {
  color: $footer-font-color;
  margin: 0;
  background-color: $accent-color;
}

.filter-btn, .dropdown-toggle, .add {
  width: 100%;
}
.hidden {
  display: none;
}
.view-btns {
  & > * {
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      transition: 1s;
    }
  }
  .active {
    filter: invert(67%) sepia(60%) saturate(482%) hue-rotate(350deg) brightness(101%) contrast(102%);
  }
}