@import '__colors';
@import '__logo&font';
@import '__header';

a {
  text-decoration: none;
  color: currentColor;
}
.btn {
  color: $footer-font-color;
  margin: 0;
  background-color: $accent-color;
}


.filter-btn {
   width: 100%;
}

.cards__header {
  align-items: center;
}

.price {
  text-decoration: line-through;
}
.final-price {
  color: $price-color;
}
