* {
  font-family: "Noto Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

.logo {
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
}

header {
  padding: 20px 1px;
}

.cart__items {
  background-color: #FFB745;
  border-radius: 50%;
  padding: 1px 7px;
  color: white;
  z-index: 1;
  position: relative;
}
.cart__items::before {
  content: "";
  height: 40px;
  width: 40px;
  background-image: url(../src/icons/Buy.svg);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  right: 5px;
  cursor: pointer;
}

.cards__header {
  align-items: center;
}

.card .price {
  text-decoration: line-through;
}

.final-price {
  color: #E7552C;
}

.card {
  min-height: 300px;
  border: none;
  cursor: pointer;
}
.card:hover {
  background-color: rgba(65, 116, 203, 0.3764705882);
  transition: 1s;
}

.row-cols-md-4 img {
  max-height: 150px;
  object-fit: cover;
  margin-top: 2px;
}

.row-cols-md-1 img {
  max-height: 150px;
  object-fit: contain;
  margin-top: 2px;
}

.card-text {
  margin-bottom: 0;
}

.footer {
  background-color: #4174CB;
  margin-top: 10px;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #F2F2F2;
  padding: 10px 2%;
}

a {
  text-decoration: none;
  color: currentColor;
}

.btn {
  color: #F2F2F2;
  margin: 0;
  background-color: #4174CB;
}

.filter-btn, .dropdown-toggle {
  width: 100%;
}

.hidden {
  display: none;
}

.view-btns > * {
  cursor: pointer;
}
.view-btns > *:hover {
  transform: scale(1.2);
  transition: 1s;
}
.view-btns .active {
  filter: invert(67%) sepia(60%) saturate(482%) hue-rotate(350deg) brightness(101%) contrast(102%);
}