* {
    font-family: "Noto Sans", sans-serif;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.logo {
    font-size: 24px;
    font-family: "Orbitron", sans-serif;
}

header {
    padding: 20px 1px;
}

#main {
    min-height: calc(100vh - 147px);
}

.cart__items {
    background-color: #FFB745;
    border-radius: 50%;
    padding: 1px 7px;
    color: white;
    z-index: 1;
    position: relative;
}

.cart__items::before {
    content: "";
    height: 40px;
    width: 40px;
    background-image: url(../src/icons/Buy.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    right: 5px;
    cursor: pointer;
}

.cards__header {
    align-items: center;
}

.card .price {
    text-decoration: line-through;
}

.final-price {
    color: #E7552C;
}

.card {
    min-height: 300px;
    border: none;
    cursor: pointer;
}

.card:hover {
    background-color: rgba(65, 116, 203, 0.3764705882);
    transition: 1s;
}

.card > img {
    max-height: 150px;
    object-fit: cover;
    margin-top: 2px;
}

.row-cols-md-1 img {
    max-height: 150px;
    object-fit: contain;
    margin-top: 2px;
}

.card-text {
    margin-bottom: 0;
}

.footer {
    background-color: #4174CB;
    margin-top: 10px;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F2F2F2;
    padding: 10px 2%;
}

a {
    text-decoration: none;
    color: currentColor;
}

.btn {
    color: #F2F2F2;
    margin: 0;
    background-color: #4174CB;
}

.filter-btn, .dropdown-toggle {
    width: 100%;
}

.hidden {
    display: none;
}

.view-btns > * {
    cursor: pointer;
}

.view-btns > *:hover {
    transform: scale(1.2);
    transition: 1s;
}

.view-btns .active {
    filter: invert(67%) sepia(60%) saturate(482%) hue-rotate(350deg) brightness(101%) contrast(102%);
}

.mb-30 {
    margin-bottom: 30px;
}

.no-products {
    font-weight: 800;
    text-align: center;
    margin: 100px auto 0;
    font-size: 30px;
    width: 100%;
    max-width: 300px;
}

/*
* double slider
*/

/*.noUi-horizontal {*/
/*  height: 8px;*/
/*}*/

/*.noUi-horizontal .noUi-handle {*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  right: -8px;*/
/*  top: -7px;*/
/*}*/
/*.noUi-handle {*/
/*  border-radius: 50%;*/
/*  background: #0882ff;*/
/*  box-shadow: none;*/
/*}*/

/*.noUi-connect {*/
/*  background: #95b9ff;*/
/*}*/

/*.noUi-handle:before,*/
/*.noUi-handle:after {*/
/*  display: none;*/
/*}*/

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.sliders_control {
    position: relative;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#fromSliderPrice {
    height: 0;
    z-index: 1;
}

#fromSliderStock {
    height: 0;
    z-index: 1;
}

